<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/"><strong><em>{{ site.title }}</em></strong></a>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ site.baseurl }}/"><i class="fas fa-home"></i>&nbsp;Home</a>
                <a class="navbar-item" href="{{ site.baseurl }}/sul-blog/">Sul Blog</a>
                <a class="navbar-item" href="{{ site.baseurl }}/riferimenti/">Riferimenti</a>
            </div>
        </div>
    </div>
</nav>