/* MARGINS */
.has-small-margins {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.has-medium-margins {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.has-big-margins {
    margin-top: 9rem;
    margin-bottom: 9rem;
}
/* IMAGES */
.is-rounded {
    border-radius: 100%;
}