<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.title }} - {{ page.title }}">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/posts.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<!-- ESTRAZIONE E ORDINAMENTO DI TUTTI I TAG -->
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

<!-- RIMOZIONE TAG INVALIDI, DOPPI E VUOTI -->
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.url }}"><strong><em>{{ site.title }}</em></strong></a>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ site.url }}"><i class="fas fa-home"></i>&nbsp;Home</a>
                <a class="navbar-item" href="{{ site.url }}/sul-blog/">Sul Blog</a>
                <a class="navbar-item" href="{{ site.url }}/riferimenti/">Riferimenti</a>
            </div>
        </div>
    </div>
</nav>

<section class="has-medium-margins">
    <div class="container">
        <div class="block">
            <div class="columns">
                <div class="column">
                    <article>
                        <h1>{{ page.title }}</h1>
                        <p>
                            <em>
                                Pubblicato in:&nbsp;{% for category in page.categories %}<a href="{{ site.url }}/{{ category }}"><span class="tag is-primary is-medium">{{ category }}</span></a>{% endfor %}
                            </em>
                        </p>
                        {{ content }}
                        <hr>
                        <small>Articolo pubblicato il: {{ page.date | date_to_string }}</small>
                    </article>
                </div>
                <div class="column is-one-quarter">
                    <aside class="box">
                        <h3 class="title is-3">Ricerca per Categorie</h3>
                        <div class="has-small-margins"><a class="subtitle is-4" href="{{ site.url }}/categorie/">Tutte le Categorie <i class="fas fa-angle-double-right"></i></a></div>
                        <ul>
                            {% for category in site.categories %}
                                {% capture category_name %}{{ category | first }}{% endcapture %}
                                <li class="box">
                                    <a href="{{ site.url }}/{{ category_name }}"><strong>{{ category_name }}</strong></a>
                                </li>
                            {% endfor %}
                            </ul>
                        <hr>
                        <h3 class="title is-3">Ricerca per Tags</h3>
                        <div class="has-small-margins"><a class="subtitle is-4" href="{{ site.url }}/tags/">Tutti i Tags <i class="fas fa-angle-double-right"></i></a></div>
                        <ul>
                            {% for tag in tags %}
                                <li class="tag">
                                    <a href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>&copy;&nbsp;2018 - <strong>Lo Spazio di Rosanna</strong></p>
            <p><em>Realizzato con <i class="fas fa-heart"></i></em></p>
            <div>
                <a href="{{ site.url }}/feed.xml"><small><i class="fas fa-rss"></i>&nbsp;Feed RSS</small></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>